@charset "utf-8"; 

*{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	/*background: radial-gradient(circle, #FFFFF0, #DAEE01);*/
	background: url('../photo/thukpa.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
} 
body {
	margin-left: auto;
    margin-right: auto;
    min-width: 769px;
    width: 100%;
}

/* Header section */
header {
	margin-top: -8px;
	display: block;
}
 .navbar {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: rgba(37, 141, 56, 0.43);
	width: 100%;
	height: 100px;
	z-index: 1;
	margin-top: -10px;
}
.navbar img {
    width: 15%;
	height: 75px;
	float: left;
	display: block;
    margin-top: 15px;
	border-radius: 20px;
}
.navbar ul li {
    list-style: none;
    display: inline-flex;
    float: left;
    margin-left: 55px;
    margin-top: 25px;
    justify-content: left;
}
header .nav1 ul li .active {
	color: red;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.nav2 {
    padding-left: 75px;
}
.nav1 a:hover, .nav1 a:active {
    background-color: rgb(51, 51, 45);
    border-radius: 28px;
}
.nav2  a:hover, .nav2  a:active {
    background-color: rgb(51, 51, 45);
    border-radius: 28px;
}


/* Second section */
.contact_info {
	padding-top: 95px;
}
section h2 {
	text-decoration: underline;
}
section h2, .hgh_address {
	margin-left: 20px;
}
section .contact {
	display: inline-flex;
}
.contact_form input[type=text],[type=tel],[type=email],textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;  
} 
.contact_form {
	width: 25%;
	padding: 20px;
	border-radius: 5px;
	background-color: #f2f2f2;
	margin-left: 120px;
	margin-bottom: -80px;
	margin-top: 60px;
	box-shadow: rgba(28, 14, 21, 0.4) 0px 0px 20px 10px;
}
.contact_form .m_error {
	color: red;
	font-size: 0.8em;
	font-style: italic;
}
fieldset #submit {
	background: green;
	color: white;
	font-size: 1em;
}
fieldset .sub_btn {
	text-align: right;
	margin-top: -10px;
}
.hgh_address, .ownership {
	font-family: serif;
	font-size: 1.3em;
	margin-top: -20px;
}
.ownership p {
	margin-left: 120px;
	margin-bottom: -10px;
}

/* Third section map design */
#map_info {
	margin-top: -25%;
}
#map_info h2 {
	margin-left: 49%;
}
section #map {
	width: 65%;
	height: 400px;
	margin-left: 20px;
	margin-top: -20px;
	margin-bottom: 25px;
	box-shadow: rgba(28, 14, 21, 0.4) 0px 0px 20px 10px;
}

/* Footer section */
footer {
	width: 102%;
	margin-bottom: -8px;
	background-color: rgba(31, 122, 46, 0.65);
}
#logo ul {
	list-style: none;
	display: flex;
	margin-left: 50px;
	margin-top: -13px;
}
#logo ul li a{
	padding-left: 10px;
	color: black;
	font-size: 1.3em;
	text-decoration: none;
}
#other ul {
	list-style: none;
}
#other ul li a {
	color: black;
}
#address {
	display: table;
	margin-left: 20px;
	margin-top: 5px;
	font-size: 1.2em;
}
#logo {
	display: table;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: -150px;
	font-size: 1.2em;
}
#copyright {
	margin-top: 45px;
	font-size: 1em;
}
#other {
	float: right;
	display: inline-flex;
	margin-top: -150px;
	margin-right: 50px;
	line-height: 1.5em;
	font-size: 1.2em;
} 
