@charset "utf-8"; 

*{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	 /*background: radial-gradient(circle, #FFFFF0, #DAEE01);*/
	 background: url('../photo/thukpa1.jpg');
	 background-repeat: no-repeat;
	 background-size: 100% 150%;
} 
body {
	margin-left: auto;
    margin-right: auto;
    min-width: 769px;
    width: 100%;
}

/* Header section */
header {
	margin-top: -8px;
	display: block;
	/*padding-bottom: 10%;*/
}
.navbar {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	/*background-color: rgba(37, 141, 56, 0.43);*/
	width: 100%;
	height: 100px;
	z-index: 1;
	margin-top: -10px;
}
header img {
	width: 20%;
	height: 80px;
	float: left;
	margin-left: 60px;
	margin-top: 15px;
	display: block;
	border-radius: 20px;	
}
.nav1 {
	display: flex;
	justify-content: left;
	list-style: none;
	margin-left: -200px;
	margin-top: -35px;
}
.nav2 {
	display: flex;
	justify-content: right;
	list-style: none;
	margin-left: 75%;
	margin-top: -45px;
}
.nav2  li {
	border: 2px solid #000000;
	border-radius: 25px;
}
header ul li .active {
	text-decoration: underline white;
	color: red;
}
header a {
	margin: 40px;
	text-decoration: none;
	font-size: 1.5em;
	color: white;
	display: inline;
}
.nav1  a:hover, .nav1  a:active {
    background-color: rgb(51, 51, 45);
    border-radius: 28px;
}
.nav2  a:hover, .nav2  a:active {
    background-color: rgb(51, 51, 45);
    border-radius: 28px;
}

.register {
	display: flex;
	padding-top: 85px;
}
.column {
	flex: 50%;
	padding: 35px;
}
/* Title */
.title {
	display: block;
	padding-top: 130px;
}
.title h1 {
	color: #ffffff;
	font-weight: bold;
	font-size: 70px;
	font-family: 'Trattatello', fantasy;
	letter-spacing: 4px;
	text-align: center;
}
.title h2 {
	color: red;
	font-size: 30px;
	font-family: 'Snell Roundhand', cursive;
	letter-spacing: 4px;
	margin-top: -80px;
	margin-left: 100px;
	text-align: center;
}
.title p {
	color: whitesmoke;
	font-size: 40px;
	font-family: 'Snell Roundhand', cursive;
	letter-spacing: 4px;
	margin-top: -30px;
	margin-left: 80px;
	text-align: center;
}

.form {
	background-color:black;
	border-width: 2px;
	border-radius: 25px;
	color: white;
	text-align: center;
	margin-left:150px;
	margin-top: 100px;
	padding: 25px;

}
.form_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.form_container .col {
	margin: 5px 0 5px 0;
	width: calc(100% / 2 - 20px);
}
.form_container .col input {
	width: 100%;
	height: 35px;
	border-radius: 15px;
}
.form button[name="reset"]{
	background-color: red;
	color: white;
	width: 25%;
	border-radius: 25px;
}
.form button[name="submit"]{
	background-color: green;
	color: white;
	width: 25%;
	border-radius: 25px;
}

.form h5 {
	font-size: 15px;
	color: #ff0000;
}*/

#logo {
	display: table;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.2em;
}
#logo ul {
	list-style: none;
	display: flex;
	margin-left: 40px;
	margin-top: -13px;
}
#logo ul li a{
	padding-left: 10px;
	color: blue;
	font-size: 1.3em;
	text-decoration: none;
}
#copyright {
	font-size: 1em;
} 

